.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 120px 60px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 24px;
}

.intro h1 {
  max-width: 320px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  color: var(--text-primary);
}

.intro p {
  max-width: 440px;
  font-size: 18px;
  line-height: 32px;
  text-wrap: balance;
  color: var(--text-secondary);
}

.intro a {
  font-weight: 500;
  color: var(--text-primary);
}

.ctas {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 440px;
  gap: 16px;
  font-size: 14px;
}

.ctas a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 128px;
  border: 1px solid transparent;
  transition: 0.2s;
  cursor: pointer;
  width: fit-content;
  font-weight: 500;
}

a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
    font-family: poppins;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}

.body{
  display: flex;
  height: 100%;
  width: 100%;
}

.text {
  font-family: poppins;
  font-size: 6rem;
}

.header{
  position: absolute;
  overflow: hidden;
  top: 0%;
  z-index: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 6rem;
  font-family: poppins;
  font-size: 2rem;
  height: 4rem;
  width: 100%;
}

.headerText{
  font-weight: 600;
  letter-spacing: 0.2rem;
  width: 50rem;
}

.container {
  position: absolute;
  overflow: hidden;
  top: 0%;
  z-index: 0%;
  width: 100%;
  height: 100%;
}

.regressContainer{
  display: flex;
  width: 100%;
  height: 95%;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}

.headerContainer {
  display: flex;
  width: 100%;
  padding-right: 4rem;
  padding-top: 1rem;
  align-items: start;
  justify-content: end;
}

.buttonImage{
  user-select: none;
  transform: rotate(180deg);
  transition: 0.2s;
  width: 3rem;
  height: 2.5rem;
}

.buttonImage:hover{
  width: 3.1rem;
  height: 2.6rem;
}

.button {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.25s;
  width: 8.5rem;
  height: 3.2rem;
  font-size: 1.5rem;
  font-family: poppins;
}

.button:hover{
  font-size: 1.55rem;
}

.headerButton {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.25s;
  width: 8.5rem;
  height: 3.2rem;
  font-size: 1.75rem;
  font-family: poppins;
}

.headerButton:hover{
  font-size: 1.8rem;
}

.three {
  position: absolute;
  bottom: 0;
} 

.image {
  display: flex;
  height: 1rem;
  width: 1.3rem;
  transform: rotate(270deg);
}


.infoContainer {
  zoom: 6.3;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 3s, width 0.5s, height 0.5s;
  color: white;
  user-select: none;
  opacity: 1;
  height: 9.5rem;
  width: 4.4rem;
  text-align: center;
  font-family: poppins;
  font-size: 0.7rem;
}

.infoContainer:hover{
  height: 9.8rem;
}

.infoContainer[data-show=true]{
  opacity: 1;
}

.infoContainer[data-show=false]{
  transition: 3s, height 5s;
  height: 2rem;
  pointer-events: none;
  opacity: 0;
}

.loadingScene{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(230 ,230 ,230);
  top: 0%;
  z-index: 100%;
  width: 100%;
  height: 100%;
}

.loading{
  font-family: poppins;
  width: 0rem;
  height: 12rem;
  font-size: 8rem;
  transition: color 2s;
  color: rgba(0, 0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

.loading[data-loaded=true] {
  animation: showUp 12s;
  color: rgba(0, 0, 0, 1);
}

.loading[data-remove=true]{
  transition: color 0.9s;
  color: rgba(0, 0, 0, 0);
}

.loadingScene[data-remove=true] {
  transition:background-color 1s;
  background-color: transparent;
}

.loadingScene[data-active=true] {
  display: none;
}

@keyframes showUp{
  0% {width: 40rem;}
  15% {width: 40rem;}
  30%{width: 90rem;}
  100%{width: 90rem;}
}

.signupContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.801);
  backdrop-filter: blur(3px);
  
  opacity: 0;
  transition: opacity 1s;
  width: 100%;
  height: 100%;
}
.singupBoxContainer {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}

.signupBox1 {
  display: flex;
  position: absolute;
  z-index: 1;
  top: 0.9rem;
  left: 0.9rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(70, 70, 70, 0.6);
  border-radius: 1rem;
  width: 30rem;
  height: 40rem;
}

.signupBox2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(70, 70, 70, 0.6);
  border-radius: 1rem;
  width: 30rem;
  height: 40rem;
}

.signupInsertContainer {
  display: flex;
  z-index: 2;
  flex-direction: column ;
  align-items: center;
  width: 30rem;
  height: 40rem;
  gap: 1rem;
}

.signupText {
  display: flex;
  font-weight: 600;
  letter-spacing: 0.2rem;
  font-family: poppins;
  font-size: 3.2rem;
  align-items: end;
  height: 17rem;
  color: white;  
}

.signupinfo {
  display: flex;
  font-weight: 100;
  letter-spacing: 0.2rem;
  font-family: poppins;
  font-size: 1.3rem;
  align-items: center;
  height: 10rem;
  color: white;
}

.signupInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.signupEmail {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
  background-color: #2b2b2b;
  font-family: poppins;
  font-weight: 500;
  font-size: 0.9rem;
  border-radius: 0.2rem;
  border: none;
  border-bottom: 1px solid rgb(230 ,230 ,230);
}

.signupPassword {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
  background-color: #2b2b2b;
  font-family: poppins;
  font-weight: 500;
  font-size: 0.9rem;
  border-radius: 0.2rem;
  border: none;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.singupButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  background-color: rgba(32, 32, 32, 0.5);
  border-radius: 1rem;
  font-size: 1rem;
  font-family: poppins;
  font-weight: 100;
  letter-spacing: 0.1rem;
  border: none;
}

.alertWidgetcontainer {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: start;
  flex-direction: column;

  padding-top:2rem;
  right: 4.5rem;
  top: 4.5rem;
  background-color: rgba(0, 0, 0, 0.521);
  backdrop-filter: blur(1rem);
  border-radius: 2rem;
  
  opacity: 0;
  transition: opacity 1s;
  width: 28rem;
  height: 15rem;
}

.alertWidgetcontainer{
  font-family: Geologica;
  font-size: 1.4rem;
  font-weight: 200;
}